.box {
  width: 300px;
  height: 500px;
  margin: 0 auto;
  position: relative;

}

img {
  width: 300px;
  height: 500px;
  border-radius: 30px;
}

.anniu {
  width: 100px;
  height: 25px;
  text-align: center;
  margin: 0 auto;
  border: 1px solid pink;
  margin-top: 10px;
  box-shadow: 5px 5px 0 pink;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s linear;
}

.anniu:hover {
  transform: scale(1.1);
}

.anniu:active {
  background-color: pink;
}

.layer {
  display: none;
  width: 150px;
  height: 250px;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  left: 0;
  top: 0;
  cursor: move;
  border-radius: 30px;
}

.pictrue .large {
  width: 300px;
  height: 500px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 1250px;
  top: 8px;
  z-index: 999;
  background-color: #fff;
  display: none;
  background-image: url(../images/1.png);
  background-size: 600px 1000px;
  border-radius: 30px;
}